/* Custom styles */

.header-transparent {
    background: none;
}

.search-bar-footer {
    height: 60px;
}

.search-button {
    font-size: 42pt;
}

.search-service-icon-unchecked {
    opacity: 0.25;
    transition: opacity .25s ease-in-out;
}

.search-service-icon-checked {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.search-service-icon {
    width: 90px;
    display: inline;
    padding: 14px;
}

.search-icons-wrapper {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    position: relative;
}

.details-large-avatar {
    width: 100%;
    height: 250px;
    background-image: url("https://unsplash.it/200/300/?random");
    background-repeat: no-repeat;
    background-size: contain; 
    height: 0;
    padding-top: 100%;
}

.center {
  width: 100%;
  text-align: center;
}