<ion-view title="Found {{searchResults.length}} targets" id="page4">   
    <ion-content padding="true" class="has-header">
        <ion-spinner class="spinner-center" ng-show="loading" icon="ios"></ion-spinner>        
        <ion-list ng-show="!loading">
            <ion-item ng-repeat="item in searchResults" class="item item-avatar" ui-sref="menu.serviceDetails({id: item.id})">
                <img style="border-radius: 0px;" ng-src="{{getServiceIconPath(item.socialID)}}">
                <h2 ng-bind="item.name"></h2>
                <p>Avg. price: <span class="positive">${{item.price}}</p>      
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>