<ion-view title="Search results" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="searchResults-list3">
            <ion-item class="item-thumbnail-left" id="searchResults-list-item5" ui-sref="menu.information">
                <h2>PewDiePie</h2>
                <p>Famous madafaka</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="searchResults-list-item6">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="searchResults-list-item7">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="searchResults-list-item8">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="searchResults-list-item9">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>