 <ion-view title="{{ profile.nickname }}" id="page5">    
    <ion-spinner ng-show="loading" class="spinner-center" icon="ios"></ion-spinner> 

    <img ng-show="!loading" class="bg" ng-src="{{ profile.img }}">
    <ion-content ng-show="!loading" padding="true" class="has-header">        
        <div class="card">
            <div class="item item-avatar">
                <img ng-src="{{ profile.avatar }}">
                <h2>{{ profile.name }}</h2>
                <p>{{ getSocialName(profile.socialID) }}</p>
            </div>
            <div class="item item-text-wrap item-borderless">            
                {{ profile.description }}                
            </div>
        </div>    
        <div class="card">
            <div class="row row-center">
                <div class="col center">
                    <p>Subscribers</p>
                    <h3> {{profile.subscribers}} </h3>
                </div>
                <div class="col center">
                    <p>Posts</p>
                    <h3> {{profile.posts}} </h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row row-center">
                <div class="col center">
                    <p>Average price</p>
                    <h3> ${{profile.price}}</h3>
                </div>
            </div>
        </div>        
        <div class="card">
            <div class="row row-center">
                <div class="col center">
                    <p>Contact</p>
                </div>
            </div>
            <div class="row">
                <div class="button-bar">
                    <a class="button button-light">Profile</a>
                    <a class="button button-light">Email</a>
                    <a class="button button-light">Call</a>
                </div>                     
            </div>            
        </div>

    </ion-content>
</ion-view>