<ion-view title="Simple search" id="page1">
    <ion-content padding="true" class="has-header" scroll="false">
        <div class="item item-divider item-borderless header-transparent">
            Select category
        </div>
        <label class="item item-input item-select" id="simpleSearch-select1">
            <span class="input-label">Category</span>
            <select ng-model="searchFields.category">
                <option value={{category.id}} ng-repeat="category in categories">{{ category.name }}</option>
            </select>
        </label>
        <br>
        <div class="item item-divider item-borderless header-transparent">
            Choose maximum price
        </div>
        <div class="item range range-calm">
            <input type="range" name="price" step="100" min="0" max="10000" ng-model="searchFields.price">
            <div class="col col-25">
                <p>${{ searchFields.price }}</p>
            </div>
        </div>
        <br>
        <div class="item item-divider item-borderless header-transparent">
            Pick services
        </div>
        <div class="item range range-calm">
            <div class="search-icons-wrapper">
                <img 
                    ng-repeat="service in services" 
                    ng-class="getServiceIconClass(service)" 
                    ng-click="toggleServiceIcon($index)"
                    ng-src="assets/img/service_icons/{{service.name}}-colored.png">
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light search-bar-footer item-borderless">
        <button style="font-size: 20pt;" class="button button-block button-calm search-button" ui-sref="menu.searchResults({fields:getFieldsString()})" id="simpleSearch-button2">Search</button>
    </div>
</ion-view>