<ion-view title="Tutorial" hide-nav-bar="true">
    <ion-content padding="true" class="no-header" scroll="false">
            <ion-slide-box on-slide-changed="slideChanged(index)">
                <ion-slide>
                    <h3>Your ads in the right place</h3>
                    <div id="logo">
                        <img class="tutorial-image" src="assets/img/logo.png">
                    </div>
                    <p>
                        DatAd allows you to promote your products really easy
                    </p>
                </ion-slide>
                <ion-slide>
                    <h3>Top social platforms for your ads</h3>
                    <div id="logo" class="center">
                        <img class="tutorial-image" src="assets/img/logo.png">
                    </div>
                    <p>
                        Select your product category, choose desired platforms and that's it - you can choose best deal and contact provider!
                    </p>
                </ion-slide>
                <ion-slide>
                    <h3>Here you go!</h3>
                    <div id="logo" class="center">
                        <img class="tutorial-image" src="assets/img/logo.png">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="button button-outline button-calm" ui-sref="menu.simpleSearch()" ng-click="start()">
                        Start
                    </button>
                </ion-slide>
            </ion-slide-box>
    </ion-content>
</ion-view>